In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('dataset/train.csv')
test_data = pd.read_csv('dataset/test.csv')
test_data_y = pd.read_csv('dataset/gender_submission.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
test_data_y.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

# Check for missing values

In [6]:
missing_values = train_data.isnull().sum()
print(missing_values)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
missing_values = test_data.isnull().sum()
print(missing_values)

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [8]:
missing_values = test_data_y.isnull().sum()
print(missing_values)

PassengerId    0
Survived       0
dtype: int64

In [9]:
# Impute missing values for Age with the median
train_data['Age'].fillna(train_data['Age'].median(), inplace=True)

# Impute missing values for Embarked with the mode
train_data['Embarked'].fillna(train_data['Embarked'].mode()[0], inplace=True)


# Drop the Cabin column due to too many missing values
train_data.drop(columns=['Cabin'], inplace=True)

In [10]:
# Impute missing values for Age with the median
test_data['Age'].fillna(test_data['Age'].median(), inplace=True)

# Impute missing values for Embarked with the mode
test_data['Embarked'].fillna(test_data['Embarked'].mode()[0], inplace=True)

test_data['Fare'].fillna(test_data['Fare'].median(), inplace=True)


# Drop the Cabin column due to too many missing values
test_data.drop(columns=['Cabin'], inplace=True)

In [11]:
missing_values_after = train_data.isnull().sum()
print(missing_values_after)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [12]:
missing_values_after =test_data.isnull().sum()
print(missing_values_after)

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [13]:
numerical_features = ['Age', 'Fare', 'SibSp', 'Parch']

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
scaler = StandardScaler()

In [16]:
train_data[numerical_features] = scaler.fit_transform(train_data[numerical_features])
test_data[numerical_features] = scaler.fit_transform(test_data[numerical_features])

In [17]:
print(train_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex       Age  \
0                            Braund, Mr. Owen Harris    male -0.565736
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  0.663861
2                             Heikkinen, Miss. Laina  female -0.258337
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  0.433312
4                           Allen, Mr. William Henry    male  0.433312

      SibSp     Parch            Ticket      Fare Embarked
0  0.432793 -0.473674         A/5 21171 -0.502445        S
1  0.432793 -0.473674          PC 17599  0.786845        C
2 -0.474545 -0.473674  STON/O2. 3101282 -0.488854        S
3  0.432793 -0.473674            113803  0.420730        S
4 -0.474545 -0.473674            373450 -0.486337        S

In [18]:
print(test_data.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

        Age     SibSp     Parch   Ticket      Fare Embarked
0  0.386231 -0.499470 -0.400248   330911 -0.497413        Q
1  1.371370  0.616992 -0.400248   363272 -0.512278        S
2  2.553537 -0.499470 -0.400248   240276 -0.464100        Q
3 -0.204852 -0.499470 -0.400248   315154 -0.482475        S
4 -0.598908  0.616992  0.619896  3101298 -0.417492        S

In [19]:
duplicate_rows = train_data.duplicated()
print("Number of duplicate rows: ", duplicate_rows.sum())
duplicate_rows = test_data.duplicated()
print("Number of test duplicate rows: ", duplicate_rows.sum())

Number of duplicate rows:  0
Number of test duplicate rows:  0

In [20]:
# One-hot encode the categorical features
train_data_encoded = pd.get_dummies(train_data, columns=['Sex', 'Embarked'])
# One-hot encode the categorical features
test_data_encoded = pd.get_dummies(test_data, columns=['Sex', 'Embarked'])

In [21]:
print(train_data_encoded.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name       Age     SibSp  \
0                            Braund, Mr. Owen Harris -0.565736  0.432793
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  0.663861  0.432793
2                             Heikkinen, Miss. Laina -0.258337 -0.474545
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  0.433312  0.432793
4                           Allen, Mr. William Henry  0.433312 -0.474545

      Parch            Ticket      Fare  Sex_female  Sex_male  Embarked_C  \
0 -0.473674         A/5 21171 -0.502445       False      True       False
1 -0.473674          PC 17599  0.786845        True     False        True
2 -0.473674  STON/O2. 3101282 -0.488854        True     False       False
3 -0.473674            113803  0.420730        True     False       False
4 -0.473674            373450 -0.486337       False      True       False

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True

In [22]:
print(test_data_encoded.head())

   PassengerId  Pclass                                          Name  \
0          892       3                              Kelly, Mr. James
1          893       3              Wilkes, Mrs. James (Ellen Needs)
2          894       2                     Myles, Mr. Thomas Francis
3          895       3                              Wirz, Mr. Albert
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)

        Age     SibSp     Parch   Ticket      Fare  Sex_female  Sex_male  \
0  0.386231 -0.499470 -0.400248   330911 -0.497413       False      True
1  1.371370  0.616992 -0.400248   363272 -0.512278        True     False
2  2.553537 -0.499470 -0.400248   240276 -0.464100       False      True
3 -0.204852 -0.499470 -0.400248   315154 -0.482475       False      True
4 -0.598908  0.616992  0.619896  3101298 -0.417492        True     False

   Embarked_C  Embarked_Q  Embarked_S
0       False        True       False
1       False       False        True
2       False        True       False
3       False       False        True
4       False       False        True

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train = train_data_encoded.drop(columns=['Survived', 'PassengerId', 'Name', 'Ticket'])
y_train = train_data_encoded['Survived']

In [25]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_test=test_data_encoded.drop(columns=[ 'PassengerId', 'Name', 'Ticket'])
y_test = test_data_y['Survived']

# DecisionTree

In [26]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import precision_score, recall_score
from sklearn.model_selection import GridSearchCV

# Define the parameter grid for DecisionTree

In [27]:
param_grid_dct = {
    'criterion': ["gini", "entropy", "log_loss"]
}

In [28]:
DTC= DecisionTreeClassifier()

In [29]:
grid_search_dct = GridSearchCV(DTC, param_grid_dct, cv=5, scoring='accuracy')

fit the model

In [30]:
grid_search_dct = GridSearchCV(DTC, param_grid_dct, cv=5, scoring='accuracy')

In [31]:
print("Shape of X_train:", X_train.shape)
print("Shape of y_train:", y_train.shape)

Shape of X_train: (891, 10)
Shape of y_train: (891,)

In [33]:
# Fit the model
try:
    grid_search_dct.fit(X_train, y_train)
    best_params_dct = grid_search_dct.best_params_
    print(f"Best parameters for DecisionTree: {best_params_dct}")

    # Predict on the test set
    y_pred_dct = grid_search_dct.predict(X_test)

    # Evaluate the model
    precision_dct = precision_score(y_test, y_pred_dct)
    recall_dct = recall_score(y_test, y_pred_dct)
    print(f"DecisionTree - Precision: {precision_dct}, Recall: {recall_dct}")
except Exception as e:
    print("Error during model fitting or evaluation:", e)

Best parameters for DecisionTree: {'criterion': 'log_loss'}
DecisionTree - Precision: 0.6712328767123288, Recall: 0.6447368421052632

In [34]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
param_grid_rf  = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

In [36]:
rf = RandomForestClassifier(random_state=42)

In [37]:
grid_search_rf = GridSearchCV(rf, param_grid_rf, cv=5, scoring='accuracy')

In [38]:
# Fit the model
grid_search_rf.fit(X_train, y_train)

# Best parameters
best_params_rf = grid_search_rf.best_params_
print(f"Best parameters for Random Forest: {best_params_rf}")

# Predict on the test set
y_pred_rf = grid_search_rf.predict(X_test)

# Evaluate the model
precision_rf = precision_score(y_test, y_pred_rf)
recall_rf = recall_score(y_test, y_pred_rf)
print(f"Random Forest - Precision: {precision_rf}, Recall: {recall_rf}")

Best parameters for Random Forest: {'max_depth': 10, 'min_samples_split': 2, 'n_estimators': 200}
Random Forest - Precision: 0.8345864661654135, Recall: 0.7302631578947368

In [39]:
y_pred_rf

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

# support Vector machine(svm)

In [40]:
from sklearn.svm import SVC

In [41]:
param_grid_svm = {
    'C': [0.1, 1, 10, 100],
    'gamma': ['scale', 'auto'],
    'kernel': ['linear', 'rbf']
}

In [42]:
svm = SVC()
grid_search_svm = GridSearchCV(svm, param_grid_svm, cv=5, scoring='accuracy')
grid_search_svm.fit(X_train, y_train)
best_params_svm = grid_search_svm.best_params_
print(f"Best parameters for SVM: {best_params_svm}")
y_pred_svm = grid_search_svm.predict(X_test)
precision_svm = precision_score(y_test, y_pred_svm)
recall_svm = recall_score(y_test, y_pred_svm)
print(f"SVM - Precision: {precision_svm}, Recall: {recall_svm}")

Best parameters for SVM: {'C': 1, 'gamma': 'scale', 'kernel': 'rbf'}
SVM - Precision: 0.9285714285714286, Recall: 0.9407894736842105

In [43]:
print("result for support vector machine ")
print("pred : real")
for i,j in zip(y_pred_svm,y_test):
    print(i," : ",j)

result for support vector machine
pred : real
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
1  :  1
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
1  :  0
1  :  1
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  1
0  :  1
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
1  :  0
1  :  1
1  :  1
0  :  0
0  :  0
0  :  1
1  :  1
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
1  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
1  :  1
1  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
1  :  1
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
0  :  1
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
1  :  1
1  :  1
1  :  0
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
1  :  1
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  0
0  :  0
1  :  0
1  :  1
0  :  0
1  :  1
1  :  1
1  :  0
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  1
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
1  :  1
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
1  :  1
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
1  :  1
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
1  :  0
1  :  1
1  :  1
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
1  :  0
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
1  :  1
1  :  1
0  :  0
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
1  :  1
0  :  0
1  :  1
0  :  1
0  :  0
1  :  1
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
1  :  1
0  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
1  :  0
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0
0  :  0
0  :  0
1  :  1
1  :  1
1  :  1
1  :  1
1  :  1
0  :  0
1  :  1
0  :  0
0  :  0
0  :  0

# Gradient Boosting Classifier

In [44]:
from sklearn.ensemble import GradientBoostingClassifier

In [45]:
param_grid_gb = {
    'n_estimators': [50, 100, 200],
    'learning_rate': [0.01, 0.1, 0.5],
    'max_depth': [3, 5, 10]
}

In [46]:
gb = GradientBoostingClassifier(random_state=42)
grid_search_gb = GridSearchCV(gb, param_grid_gb, cv=5, scoring='accuracy')
grid_search_gb.fit(X_train, y_train)
best_params_gb = grid_search_gb.best_params_
print(f"Best parameters for Gradient Boosting: {best_params_gb}")
y_pred_gb = grid_search_gb.predict(X_test)
precision_gb = precision_score(y_test, y_pred_gb)
recall_gb = recall_score(y_test, y_pred_gb)
print(f"Gradient Boosting - Precision: {precision_gb}, Recall: {recall_gb}")

Best parameters for Gradient Boosting: {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100}
Gradient Boosting - Precision: 0.7647058823529411, Recall: 0.7697368421052632

In [47]:
from sklearn.model_selection import GridSearchCV, cross_val_score

# Cross-Validation for Logistic Regression

In [48]:
X=pd.concat([X_train,X_test])
y=pd.concat([y_train,y_test])

In [50]:
dct_cv_scores = cross_val_score(grid_search_dct, X, y, cv=5, scoring='accuracy')
print(f"Cross-validated Accuracy for DecisionTree: {dct_cv_scores.mean()}")

Cross-validated Accuracy for DecisionTree: 0.8373607089584978

# Cross-Validation for  Random Forest

In [51]:
rf_cv_scores = cross_val_score(grid_search_rf,  X, y, cv=5, scoring='accuracy')
print(f"Cross-validated Accuracy for Random Forest: {rf_cv_scores.mean()}")

Cross-validated Accuracy for Random Forest: 0.8732678190167004

# Cross-Validation for svm

In [52]:
svm_cv_scores = cross_val_score(grid_search_svm, X, y, cv=5, scoring='accuracy')
print(f"Cross-validated Accuracy for SVM: {svm_cv_scores.mean()}")

Cross-validated Accuracy for SVM: 0.8503612061653651

# Cross-Validation for Gradient Boosting

In [53]:
gb_cv_scores = cross_val_score(grid_search_gb,X, y, cv=5, scoring='accuracy')
print(f"Cross-validated Accuracy for Gradient Boosting: {gb_cv_scores.mean()}")

Cross-validated Accuracy for Gradient Boosting: 0.8579801702202333

# ...THANK YOU...